<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Reservar</title>
    <style type="text/css">
        .style1 {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 36px;
        }

        .style9 {
            font-family: "Times New Roman", Times, serif;
        }
    </style>

    <!----------------------------------- Librerias --------------------------------------------->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
    <!-- Font Awesome -->
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0/mdb.min.css" rel="stylesheet" />
    <script type="text/x-handlebars-template" id="template">
      {{#each Beers}}
        Name: {{Name}}
        <br />
      {{/each}}
    </script>

    <!----------------------------------- Librerias --------------------------------------------->
</head>

<body>

    <div class="container px-5 text-center">
        <div class="row justify-content-start px-5 ">
            <div class="col-12 align-self-center px-5 ">

                <!----------------------------------- NavBar --------------------------------------------->
                <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #99FFCC;">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="index.htm">
                            <img src="imagenes/escarapela.png" height="55" alt="" loading="lazy" /></a>


                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">

                                <li class="nav-item">
                                    <a class="nav-link" href="Litoral.htm"><strong>Litoral</strong></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="BsAs.htm"><strong>Buenos Aires</strong></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="Centro.htm"><strong>Centro</strong></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="Cuyo.htm"><strong>Cuyo</strong></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="Noroeste.html"><strong>Noroeste</strong></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="Patagoniaa.htm"><strong>Patagonia</strong></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page"
                                        href="#"><strong>Reservar</strong></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </nav>
                <!----------------------------------- NavBar --------------------------------------------->

            </div>
        </div>
    </div>

    <br />

    <!----------------------------------- Select --------------------------------------------->

    <div class="container px-5">
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-start px-5">
                    <div class="col-7 align-self-center px-5">
                        <label>Region Geográfica</label>
                        <select id="mySelect" class="form-control">
                            <option disabled selected>Seleccione una región</option>
                            <option value="Litoral">Litoral</option>
                            <option value="Buenos Aires">Buenos Aires</option>
                            <option value="Cuyo">Cuyo</option>
                            <option value="Centro">Centro</option>
                            <option value="Noroeste">Noroeste</option>
                            <option value="Patagonia">Patagonia</option>
                        </select>
                        <br />
                        <div class="row">
                            <div class="col-5" id="content">


                                
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row justify-content-start px-5">
                    <div class="col-7 align-self-center px-5">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-success btn-lg" data-toggle="modal"
                            data-target="#exampleModal" id="submit">
                            Reservar
                        </button>
                        <!----------------------------------- Select --------------------------------------------->

                        <!----------------------------------- Modal --------------------------------------------->

                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">
                                            Turismo Argentino
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <!--This is our template. -->
                                        <!--Data will be inserted in its according place, replacing the brackets.-->
                                        <script id="address-template" type="text/x-handlebars-template">
                    <p class="note note-primary">
                      <u>
                        <strong>
                          Region seleccionada:
                        </strong>
                      </u>
                      &nbsp; {{region}}
                    </p>
                    &nbsp;
                    <p class="note note-primary">
                      <u>
                        <strong>
                          Ciudad / Provincia:
                        </strong>
                      </u>
                      &nbsp; {{ciudad}}
                    </p>

                    <div class="col-md-5 ml-auto" id="precioVuelo">
                      <p class="note note-success">
                        <strong>
                          Precio: ${{precio}}
                        </strong>
                      </p>
                    </div>
                    <div class="form-group">
                        <label >Indique la fecha en la que viajará</label>
                        <input type="date" name="fday" max="3000-12-31" 
                               min="1000-01-01" class="form-control">
                       </div>
                    <div>
                    
                      </div>
                  </script>

                                        <div class="content-placeholder"></div>
                                        <br />
                                        <label for="reserva" class="col-form-label">Reserva:</label>
                                        <input type="number" id="reserva" placeholder="$" />
                                        <button type="button" data-ripple-color="green"
                                            class="btn btn-outline-success btn-rounded btn-sm py-2 px-2" id="pagar">
                                            <i class="fas fa-check"></i>
                                        </button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary btn-lg btn-block"
                                            data-dismiss="modal">
                                            Reservar viaje
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar fixed-bottom navbar-light" style="background-color: #f5f5f5;">
            <p>
                Webmaster: Barragan Ezequiel , Lopez Tamra, Barrera Milagros y Ulices
                Gonzales&nbsp;
            </p>
        </nav>
</body>
<script src="reserva.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0/mdb.min.js"></script>

</html>
